<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>papirservis</display-name>
  <description></description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <filter>
    <filter-name>UTFtransformer</filter-name>
    <filter-class>com.belex.servlets.UTFtransformer</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTFtransformer</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>driver</param-name>
    <param-value>org.gjt.mm.mysql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>conn</param-name>
    <param-value>jdbc:mysql://localhost:3306/papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>useUnicode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>characterEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>characterSetResults</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>reportDir</param-name>
    <param-value>D:\projects\monolit\papirservis\WebContent\reports\</param-value>
  </context-param>
  <context-param>
    <param-name>logo</param-name>
    <param-value>./images/ps.jpg</param-value>
  </context-param>
  <context-param>
    <param-name>logoPdf</param-name>
    <param-value>D://projects//monolit//papirservis//WebContent//images//ps.jpg</param-value>
  </context-param>
  <context-param>
	 <param-name>SledenjeServerURL</param-name>
	 <param-value>http://spoi.sledenje.com/gpswinservlets51303493/servlet/GpsPSLpos2orders</param-value>
  </context-param>
  <context-param>
	 <param-name>http_username</param-name>
	 <param-value>sledenjews1</param-value>
  </context-param>
  <context-param>
	 <param-name>http_password</param-name>
	 <param-value>sledenjews12</param-value>
  </context-param>
  <context-param>
	 <param-name>sledenje_username</param-name>
	 <param-value>papirservis</param-value>
  </context-param>
  <context-param>
	 <param-name>sledenje_password</param-name>
	 <param-value>papirvozila</param-value>
  </context-param>
  <context-param>
	 <param-name>sledenje_obdobje</param-name>
	 <param-value>180</param-value>
  </context-param>
  <context-param>
	 <param-name>distance_customer</param-name>
	 <param-value>0.008</param-value>
  </context-param>
  <context-param>
	 <param-name>distance_location</param-name>
	 <param-value>0.002</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>ArsoServlet</servlet-name>
    <servlet-class>si.papirservis.ArsoServlet</servlet-class>
	 <init-param>
		 <param-name>ArsoZavezanciURL</param-name>
		 <param-value>http://okolje.arso.gov.si/service/distributionservlet?SERVIS=SIFRANTIODPADKI&amp;ZETON=ODP1&amp;ZAHTEVEK=ZAVEZANCI&amp;IZHODNI_FORMAT=XML&amp;MATICNA_ST=</param-value>
	 </init-param>
	 <init-param>
	   	<param-name>scheduler_pattern</param-name>
		<param-value>0 1 * * *</param-value>
	 </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>  
  <servlet-mapping>
    <servlet-name>ArsoServlet</servlet-name>
    <url-pattern>/ArsoServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>TimerServlet</servlet-name>
    <servlet-class>si.papirservis.TimerServlet</servlet-class>
	 <init-param>
	   <param-name>period</param-name>
		<param-value>300000</param-value>
	 </init-param>
	 <init-param>
	   <param-name>query_limit</param-name>
		<param-value>100</param-value>
	 </init-param>
	 <init-param>
	   <param-name>scheduler_pattern</param-name>
		<param-value>*/30 9-15 * * *</param-value>
	 </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>  
  <servlet-mapping>
    <servlet-name>TimerServlet</servlet-name>
    <url-pattern>/TimerServlet</url-pattern>
  </servlet-mapping>
  
	
	<servlet>
		<servlet-name>SledenjeServlet</servlet-name>
		<servlet-class>si.papirservis.SledenjeServlet</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name>SledenjeServlet</servlet-name>
      <url-pattern>/SledenjeServlet</url-pattern>
    </servlet-mapping>

	
    <servlet>
		<servlet-name>SledenjeServer</servlet-name>
		<servlet-class>si.papirservis.SledenjeServer</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name>SledenjeServer</servlet-name>
      <url-pattern>/SledenjeServer</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>StrankeServlet</servlet-name>
		<servlet-class>si.papirservis.StrankeServlet</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name>StrankeServlet</servlet-name>
      <url-pattern>/StrankeServlet</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>ArsoPrepareXMLServlet</servlet-name>
		<servlet-class>si.papirservis.ArsoPrepareXMLServlet</servlet-class>
		<init-param>
		  	<param-name>SAVE_FILES</param-name>
			<param-value>C:/projects/Monolit/PapirServis/papirservis/WebContent/paketi/</param-value>
		</init-param>
		<init-param>
		  	<param-name>ZAVEZANEC_ST</param-name>
			<param-value>37113</param-value>
		</init-param>
		<init-param>
		  	<param-name>ZAVEZANEC_MATICNA_ST</param-name>
			<param-value>5226236000</param-value>
		</init-param>
	</servlet>
    <servlet-mapping>
      <servlet-name>ArsoPrepareXMLServlet</servlet-name>
      <url-pattern>/ArsoPrepareXMLServlet</url-pattern>
    </servlet-mapping>
	
	
</web-app>