<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>papirservis</display-name>
  <description></description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <filter>
    <filter-name>UTFtransformer</filter-name>
    <filter-class>com.belex.servlets.UTFtransformer</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTFtransformer</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>conn</param-name>
    <param-value>jdbc:mysql://192.168.9.82:3306/papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>papirservis</param-value>
  </context-param>
  <context-param>
    <param-name>useUnicode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>characterEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>characterSetResults</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>reportDir</param-name>
    <param-value>C:\projects\Monolit\PapirServis\PapirServis2\WebContent\reports\</param-value>
  </context-param>
  <context-param>
    <param-name>logo</param-name>
    <param-value>./images/ps.jpg</param-value>
  </context-param>
  <context-param>
    <param-name>logoPdf</param-name>
    <param-value>C://projects//Monolit//PapirServis//PapirServis2//WebContent//images//ps.jpg</param-value>
  </context-param>

	
	<servlet>
		<servlet-name>SledenjeServlet</servlet-name>
		<servlet-class>si.papirservis.SledenjeServlet</servlet-class>
		<init-param>
			<param-name>SledenjeServerURL</param-name>
			<param-value>http://spoi.sledenje.com/gpswinservlets51303493/servlet/GpsPSLpos2orders</param-value>
		</init-param>
	</servlet>
    <servlet-mapping>
      <servlet-name>SledenjeServlet</servlet-name>
      <url-pattern>/SledenjeServlet</url-pattern>
    </servlet-mapping>

	
    <servlet>
		<servlet-name>SledenjeServer</servlet-name>
		<servlet-class>si.papirservis.SledenjeServer</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name>SledenjeServer</servlet-name>
      <url-pattern>/SledenjeServer</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>StrankeServlet</servlet-name>
		<servlet-class>si.papirservis.StrankeServlet</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name>StrankeServlet</servlet-name>
      <url-pattern>/StrankeServlet</url-pattern>
    </servlet-mapping>
        
    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>	

</web-app>